*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.first-part{
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-left: 50px;

}
.first-parti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 150px;
    top: 150px;
}
.napa{
    position: fixed;
}
.left-part{
    display: flex;
    /* flex-direction: column; */
    padding: 17px;
    /* margin-top: 100px; */
    gap: 2em;
    box-shadow: 0px 0px 10px 0px rgb(219, 216, 216);
    /* position: fixed; */
    justify-content: space-between   ;
    align-items: center;
    /* height: 200px; */
}
.left-part img{
    width: 30px;
}
.left-parti{
    display: flex;
    /* flex-direction: column; */
    padding: 17px;
    /* margin-top: 100px; */
    gap: 0em;
    box-shadow: 0px 0px 10px 0px rgb(219, 216, 216);
    /* position: fixed; */
    justify-content: space-between   ;
    align-items: center;
    /* height: 200px; */
    margin-bottom: 40px;
}
@media(max-width:1630px){
    .first-parti{
        display: none;
    }
}
.right-part{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 50px;
    padding-top: 130px;
}
.p-texti{
    text-align: center;
}
.diddy{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1em;
}
.right-part p{
    font-size: 19px;
}
.p-text{
    color:  rgb(65, 25, 110);
    font-weight: bold;
}
.btn{
    background-color: rgb(65, 25, 110);
    padding: 12px 30px;
    color: white;
    border-radius: 10px;
}
.moving-btn:hover{
    animation-name: moving-btn;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2s;
     

}
@keyframes moving-btn{
    0%{
        transform: translateY(0px);     
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
nav{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    /* gap: 10em; */
    box-shadow: 0px 0px 7px 0px rgb(226, 220, 220);
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    /* margin-bottom: 100px; */
}
.hero-img{
    width: 120px;
}
.navi{
    display: flex;
}
.logo{
    display: flex;
}
.left-nav{
    display: flex;
    gap: 4em;
}
.left-side-content{
    display: flex;
    gap: 3em;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 1em  ;
}
.fa-bars{
    font-size: 25px;
    display: none;
}
.fa-arrow-down{
    font-size: 12px;
    font-weight: 7px;
}
@media(max-width:1045px){
    .left-side-content {
        display: none;
    }
    .moving-btn{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .cont-first{
        flex-direction: column;
    }
    nav{
        /* justify-content: none; */
    }
}
@media(max-width:784px) {
.first-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    gap: 1em;
    margin-top: 100px;
}
.first-text h2{
    color: rgb(65, 25, 110);
    font-size: 30px;
    font-weight: 900;

}
.first-cont{
    justify-content: center;

}
.cont-first-img{
    width: 400px;
}
.first-img{
    width: 200px;
    }

}
@media(max-width:546px){
    .first-text{
        width: 200px;
    }
}
.right-nav li a{
    text-decoration: none;
    color: rgb(65, 25, 110);
    font-weight: 600;
}
.drop-12 li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.drop-12 li:hover{
    color: rgb(65, 25, 110);
    font-size: 16.4px;
    cursor: pointer;
}
.drop-11 li:hover{
    color: rgb(65, 25, 110);
    font-size: 16.4px;
    cursor: pointer;
}
.drop-12 li img{
    width: 24px;
    height: 24px;
}
.drop-11 li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.drop-11 li img{
    width: 24px;
    height: 24px;
}
.personal{
    
    /* position: relative; */
}
.cont-dropdown{
    /* display: flex;
    gap: 1em; */
}
.dropdown-menu-1{
    /* display: flex; */
    /* padding: 25px; */
    border-radius: 10px;
    /* width: 200px; */
    background-color: white;
    position: absolute;
    /* top: 22.5px;
    left: 0px; */
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* visibility: hidden; */
    display: none;
    z-index: 1;
}
.dropdown-menu-2{
    display: none;
    /* padding: 25px; */
    border-radius: 10px;
    /* width: 200px; */
    background-color: white;
    position: absolute;
    /* top: 22.5px;
    left: 0px; */
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* visibility: hidden; */
    z-index: 1;
}
.dropdown-menu-3{
    display: none;
    padding: 10px;
    border-radius: 10px;
    /* width: 200px; */
    background-color: white;
    position: absolute;
    /* top: 22.5px;
    left: 0px; */
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* visibility: hidden; */
    z-index: 1;
}
.dropdown-menu-3 li{
    padding: 10px 22px;
}
.dropdown-menu-3 li:hover{
    color: rgb(65, 25, 110);
    font-size: 17px;
}
.personal:hover .dropdown-menu-1{
    visibility: visible;
    display: block;
}
.personal:hover .dropdown-menu-2{
    visibility: visible;
    display: block;
}
.personal:hover .dropdown-menu-3{
    visibility: visible;
    display: block;
}
.drop-1{
    display: flex;
}
.drop-11{
    display: flex;
    flex-direction: column;
    gap: 1em;
        padding: 20px 50px;
}
.drop-12{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px 50px;
    background-color: rgb(241, 234, 234);
}
.mg-top{
    /* margin-top: 10px; */
}
.btn{
    background-color: rgb(65, 25, 110);
    padding: 12px 30px;
    color: white;
    border-radius: 10px;
}
.moving-btn:hover{
    animation-name: moving-btn;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2s;
     

}
@keyframes moving-btn{
    0%{
        transform: translateY(0px);     
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
nav li{
    list-style-type: none;
}
.fourteenth-part{
    display: flex;
    justify-content: center;
    gap: 4em;
    /* align-items: center; */
    margin: 50px;
    /* margin-top: 80px;  */
}
.fourteenth-part-cont {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.li-text{
    color: rgb(65, 25, 110);
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.store{
    /* margin-left: 140px; */
    display: flex;
    justify-self: center;
    margin-bottom: 50px;
}
.store img{
    width: 120px;
}
.fifteenth-part{
    display: flex;
    justify-content: center;
    gap: 4em;
    margin: 60px;
}
.fifteenth-part-cont{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.fifteenth-part-cont h3{
    color: rgb(65, 25, 110);
}
.socials{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.footer-cont{
    display: flex;
    justify-content: center;

    justify-self: center;
    gap: 1em;
    /* width: 80%; */
    flex-direction: column;
    /* align-items: center; */
    margin: 50px;
    margin-bottom: 80px;
    color: rgb(139, 139, 143);
}
  @media(max-width:755px){
        .cont-first{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .first-img{
            width: 300px;
        }
        .cont-first-img{
            background-size: 400px;
        }
        .cont-first h5{
            font-size: 17px;
        }
        .ft-contip img{
            width: 100px;
        }
        .first-text{
            width: 400px;
        }
    }
    @media(max-width:455px){
        .first-img{
            width: 250px;
            margin-left: 50px;
        }
        .cont-first-img{
            background-size: 300px;
            background-position: center;
        
        }
        .first-text h2{
            font-size: 30px;
        }
        .first-text{
            width: 300px;
        }
    }
    @media(max-width:1045px){
        .left-side-content {
            display: none;
        }
        .moving-btn{
            display: none;
        }
        
        .fa-bars{
            display: block;
        }
        .cont-first{
            flex-direction: column;
        }
        nav{
            /* justify-content: none; */
        }
    }
    @media(max-width:784px) {
    .first-text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        gap: 1em;
    }
    .first-text h2{
        color: rgb(65, 25, 110);
        font-size: 30px;
        font-weight: 900;

    }
    .first-cont{
        justify-content: center;

    }
    .cont-first-img{
        width: 400px;
    }
    .cont-first-imgi{
        width: 400px;
    }
    .first-img{
        width: 200px;
        }

    }
    @media(max-width:546px){
        .first-text{
            width: 200px;
        }
    }
    @media(max-width:1495px){
        .third-part{
            gap: 2em;
        }
        .ninth-part{
            flex-wrap: wrap;
        }
    }
    @media(max-width:1080px){
        .third-part{
            flex-direction: column;
        }
        .fourteenth-part{
            /* flex-wrap: wrap; */
            flex-direction: column;
            gap: 2em;

        }
    }
    @media(max-width:660px){
        .third-part-text{
            /* flex-wrap: wrap; */
            width: 370px;
            /* align-items: center; */
            /* text-align: center; */
            /* justify-content: center; */
        }
        .h2-text{
            font-size: 30px;
        }
        .third-part-image{
            width: 300px;
        }
        table{
            width: 60%;
            padding: 5px;
        }
    }
    @media(max-width:580px){

    }
    @media(max-width:392px){
        .third-part-text{
            /* width: 300px; */
        }
        .second-part{
            margin-left: 10px;
            width: 400px;
        }
        .ninth-part{
            width: 300px;
            margin-left: 40px;
        }
        .tenth-part-cont{
            margin-left: 40px;
        }
        .eleventh-part{
            margin-left: 50px;
        }
        table{
            margin-left: 25px;
        }
        .cont-last{
            /* width: 300px; */
        }
    }
    @media(max-width:1300px){
        .third-part-image{
            width: 400px;
        }
        .third-part-text{
            
        }
        .first-text{
            padding-top: 100px;
        }
        .thirteenth-part{
            flex-wrap: wrap;
        }
        .cont-first-imgi{
            display: none;
        }
        .fifteenth-part{
            flex-direction: column;
            /* justify-content: center; */
            gap: .5em;
        }
    }
    @media(max-width:527px){
        .thirteenth-part{
            width: 330px;
            margin-left: 55px;
        }   
        .first-texti{
            width: 400px;
        }
        .ft-contain{
            display: none;
        }
    }
